<a href="https://colab.research.google.com/github/jeansilvaster/Aula-202---Exerc-cio-visualcod/blob/main/Aula_202_Exerc%C3%ADcio_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nova seção

In [3]:
import numpy as np
import pandas as pd

**Carregando dados em um quadro de dados usando pandas**

In [13]:
df = pd.read_csv('/content/adult_data.csv')
df.info

<bound method DataFrame.info of            1  25       Private  226802          11th   7       Never-married  \
0          2  38       Private   89814       HS-grad   9  Married-civ-spouse
1          3  28     Local-gov  336951    Assoc-acdm  12  Married-civ-spouse
2          4  44       Private  160323  Some-college  10  Married-civ-spouse
3          5  18             ?  103497  Some-college  10       Never-married
4          6  34       Private  198693          10th   6       Never-married
...      ...  ..           ...     ...           ...  ..                 ...
48836  48838  27       Private  257302    Assoc-acdm  12  Married-civ-spouse
48837  48839  40       Private  154374       HS-grad   9  Married-civ-spouse
48838  48840  58       Private  151910       HS-grad   9             Widowed
48839  48841  22       Private  201490       HS-grad   9       Never-married
48840  48842  52  Self-emp-inc  287927       HS-grad   9  Married-civ-spouse

       Machine-op-inspct      Own-child  Black    Male      0  0.1  40  \
0        Farming-fishing        Husband  White    Male      0    0  50
1        Protective-serv        Husband  White    Male      0    0  40
2      Machine-op-inspct        Husband  Black    Male   7688    0  40
3                      ?      Own-child  White  Female      0    0  30
4          Other-service  Not-in-family  White    Male      0    0  30
...                  ...            ...    ...     ...    ...  ...  ..
48836       Tech-support           Wife  White  Female      0    0  38
48837  Machine-op-inspct        Husband  White    Male      0    0  40
48838       Adm-clerical      Unmarried  White  Female      0    0  40
48839       Adm-clerical      Own-child  White    Male      0    0  20
48840    Exec-managerial           Wife  White  Female  15024    0  40

       United-States  <=50K
0      United-States  <=50K
1      United-States   >50K
2      United-States   >50K
3      United-States  <=50K
4      United-States  <=50K
...              ...    ...
48836  United-States  <=50K
48837  United-States   >50K
48838  United-States  <=50K
48839  United-States  <=50K
48840  United-States   >50K

[48841 rows x 16 columns]>

**Explorando o conjunto de dados**

In [9]:
df.info
# checando valores nulos
df.isnull().sum()

1                    0
25                   0
Private              0
226802               0
11th                 0
7                    0
Never-married        0
Machine-op-inspct    0
Own-child            0
Black                0
Male                 0
0                    0
0.1                  0
40                   0
United-States        0
<=50K                0
dtype: int64

**Lidar com dados ausentes, incorretos e inválidos**

In [44]:
#Substituindo %, "," e "_"
df = df.replace('%', '', regex=True)
df = df.replace(',', '', regex=True)
df = df.replace('?', np.nan)
#Eliminando linhas com valores nan
df = df.dropna()
#verifique se todos os valores nan foram resolvidos
lst = ["1","25","Private","226802","11th","7","Never-married",
       "Machine-op-inspct","Own-child","Black","Male","0","0.1",
       "40","United-States","<=50K"]
df.rename(columns ={'25':'age','1':'ID','226802':'registration','7':'amount',
                    '11th':'type','40':'total country',
                    'United-States':'country','0':'total race'},
          inplace=True)
df = df.drop('0.1',axis=1)

df.dtypes

ID                    int64
age                   int64
Private              object
registration          int64
type                 object
amount                int64
Never-married        object
Machine-op-inspct    object
Own-child            object
Black                object
Male                 object
total race            int64
total                 int64
country              object
<=50K                object
dtype: object

In [45]:
df.head()

,ID,age,Private,registration,type,amount,Never-married,Machine-op-inspct,Own-child,Black,Male,total race,total,country,<=50K
0,2,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,50,United-States,<=50K
1,3,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,40,United-States,>50K
2,4,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,40,United-States,>50K
4,6,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,30,United-States,<=50K
6,8,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,32,United-States,>50K